<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-4">Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      <h4 class="fw-bold pb-2 mb-2">Peer-reviewed articles</h4>
      <ol reversed>
      {% for item in site.data.publications.peer_reviewed %}
        <li>{{ item.names }}, {{ item.year }}, {{ item.title }}, <i>{{ item.journal }}</i>, <b>{{ item.vol }}</b>({{ item.num }}), p. {{ item.pages }}, <a href="{{ item.url }}">doi: {{ item.doi }}</a>.</li>
      {% endfor %}
      </ol>
      <h4 class="fw-bold pb-2 mb-2 mt-4">Monographs</h4>
      <ol reversed>
      {% for item in site.data.publications.monographs %}
        <li>{{ item.names }}, {{ item.year }}, {{ item.title }}, {{ item.description }}, <a href="{{ item.url }}">doi: {{ item.doi }}</a>.</li>
      {% endfor %}
      </ol>
      <h4 class="fw-bold pb-2 mb-2 mt-4">Software</h4>
      <ol reversed>
      {% for item in site.data.publications.software %}
        <li>{{ item.names }}, {{ item.year }}, {{ item.title }}, <i>{{ item.publisher }}</i>, <a href="{{ item.url }}">doi: {{ item.doi }}</a>.</li>
      {% endfor %}
      </ol>
      <h3 class="fw-bold border-bottom pb-3 mb-4 mt-5">Conference abstracts</h3>
      <h4 class="fw-bold pb-2 mb-2 mt-4">Oral</h4>
    {% endif %}
  </div>
</div>
