---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">Projects</h3>
{% for row in site.data.projects.rows %}
<div class="row g-5 mb-5">
  {% for item in row %}
    <div class="col-md-6">
      <img src="{{ site.github.url }}/assets/img/{{ item.img }}" alt="Image" width="100%">
      <h5 class="fw-bold pb-2 mb-2 pt-2 mt-2"><a href="{{ site.github.url }}/{{ item.url }}">{{ item.title }}</a></h5>
      {{ item.info }}
<!--      <ul>
        {% for info in item.info %}
          <li>{{ info }}</li>
        {% endfor %} 
      </ul> -->
    </div>
  {% endfor %}
</div>
{% endfor %}
